body { 
    background: url('https://static.vecteezy.com/system/resources/thumbnails/000/180/334/original/e-learning.jpg');
    background-attachment: scroll;
    background-position: center;
    background-size: contain;
}

body::after {
content: "";
background: white;
opacity: 0.5;
top: 0;
left: 0;
bottom: 0;
right: 0;
position: fixed;
z-index: -1;
}


.one{
    border: black solid 2px;
    color: rgb(86, 15, 119);
    font-size: 50px;
}
.two{
    border: black solid 2px;
    color: palevioletred;
    font-size: 50px;
}
.day{
    font-size: 40px;
    color: palevioletred;
}
h1{
    font-size: 60px;
    text-align: center;
    color: sandybrown;
}

li {
    color: rgb(86, 15, 119);
    font-size: 30;
}